---
import Carrusel from '../components/carrusel/Carrusel.astro'
---

<div id="nave" class="h-screen w-screen flex flex-col justify-center items-center border-orange-400 border-8">
    <div class="border-green-400 border-8 overflow-hidden h-full w-full">
        <Carrusel />
    </div>
</div>