---
import Header from "../components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
import ListOfBooks from "../components/book/ListOfBooks.astro";
import Contador from "../components/Contador.jsx";


const title = "Catalogo de caja de la Auxilir Mainpulaoda del cartón"
---

<Layout title={title}>
    <div class="relative flex flex-col min-h-screen min-w-screen">
		<div id="" class="fixed w-full z-20 top-0">
			<Header />

			<!-- <Contador client:visible /> -->

			
		</div>
		<ListOfBooks />
	</div>
</Layout>

