---
import Header from '../components/header/Header.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer/Footer.astro'
import BtnAdelante from '../components/botones-sliders/BtnAdelante.astro';

const title = 'Auxiliar Manipuladora del Cartón'

---




<Layout title={title}>

	<div>
		<Header />
	</div>

	<div class="max-w-screen h-screen border-red-400 border-8 flex justify-center py-8">
		<div  class="logo-grande w-2/3">

			<div class="mb-[4rem] border-green-400 border-4 p-12">
				<img class="w-54 h-54" src="/svg/logo-aux.svg" alt="">
			</div>


			<div>
				<p class="logo">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dignissimos illo nam rerum itaque assumenda! Optio, corporis amet, ut facere molestiae necessitatibus error aliquam dolore earum provident non id quos?
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit labore et porro assumenda at, aliquid ipsam maxime aspernatur eum voluptatum odio ea necessitatibus dolore adipisci, mollitia reiciendis recusandae, voluptate a.
				</p>
				<div class="mt-4">
					<a href="/catalogo">
						<BtnAdelante />
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="border-8 flex justify-center items-center h-[22rem] bg-[#202020] text-[#f2f2f2]">
		<Footer />
	</div>

</Layout>

<style>

	.logo-grande{
		animation-name: fadeInLeft;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	.logo {
		animation-name: fadeDown;
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-delay: 1s;
	}

	
	@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.fadeDown {
		animation-name: fadeDown;
	}
	.fadeDown {
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}


</style>


