---
import Header from '../components/header/Header.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer/Footer.astro'
import BtnAdelante from '../components/botones-sliders/BtnAdelante.astro';
import TarjetasMario from '../components/cards/TarjetasMario.astro';
import Carrusel from '../components/carrusel/Carrusel.astro'
import Aviso from '../components/footer/Aviso.astro';

const title = 'Auxiliar Manipuladora del Cartón'
---

<Layout title={title}>

	<div class="relative flex flex-col h-max-screen w-max-screen">
		<div id="header" class="fixed w-full z-50">
			<Header />
		</div>
<!-- //BODY =================================================================================================		 -->
		<main class="flex flex-col max-w-[80%] m-auto">

<!-- // SECCION 1 LOGO Y TEXTO ==================================================== -->
				<div class="flex justify-center items-center py-8 h-screen">
					<div  class="logo-grande w-2/3 h-2/3 flex flex-col items-center">
		
						<div class="mb-[4rem] p-12">
							<img class="w-42 h-42" src="/svg/logo-aux.svg" alt="">
						</div>
						
						<div class="logo">
							<div class="flex justify-center">
								<p class="text-[var(--auxiliar1)] font-extrabold text-2xl">
									968 693 575
								</p>
							</div>
							<p class="tipografia indent-10 text-xl font-light">
								Empresa dedicada a la fabricación de envases y embalajes de cartón ondulado y otros productos relacionados con el embalaje.
								Cajas, bandejas, estuches, expositores, separadores, plancha paletizaje, etc.
							</p>
							<div class="mt-4 mb-60">
								<a href="/catalogo">
									<BtnAdelante />
								</a>
							</div>
						</div>

					</div>
				</div>
		
<!-- // SECCIOn2 CARRUSELL ==================================================== -->
			<div id="nave" class="min-h-screen flex justify-center items-center">
				<div class="h-[44%] flex flex-row ">
					<Carrusel />
				</div>
			</div>

<!-- // SECCION CONTACTOS ====================================================  -->
				<div id="contacto" class= "relative ">
					<div  class="flex flex-col">
						<main id="contactooo" class="w-full min-h-screen flex">
							<div class="david text-[var(--auxiliar2)] flex flex-wrap gap-8 m-auto justify-center items-center">
								<a id="scroll-to-camion" href="#admi">
									<TarjetasMario telefono="686 944 932" jefes="administracion" />
								</a>
								<a id="scroll-to-camion2" href="#cajas">
									<TarjetasMario telefono="657 803 024" jefes="ventas" />
								</a>
								<a id="scroll-to-camion3" href="#camion">
									<TarjetasMario telefono="657 803 024" jefes="logistica" />
								</a>
								<a id="scroll-to-camion4" href="#diseñando">
									<TarjetasMario telefono="657 803 024" jefes="diseño" />
								</a>
								<a id="scroll-to-camion4" href="https://goo.gl/maps/aF9KwAe88DQVdV427">
									<TarjetasMario telefono="968 693 575" jefes="maps" />
								</a>
								<!-- <iframe
									class="text-red-500"
									 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.7770949057185!2d-1.2635762882129755!3d38.098851971788314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6479081e35c223%3A0x5c9de221c6462094!2sAuxiliar%20Manipuladora%20del%20Cart%C3%B3n%20S.L.!5e0!3m2!1ses!2ses!4v1694411683319!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
								</iframe> -->
							</div>
						</main>
				
					</div>
---
<script>
	const cam = document.getElementById('scroll-to-camion');
	const admini = document.getElementById('admini');
	cam.addEventListener('click', () => {
		console.log('hola')
		// admini.classList.add('animate-bounce')
	});
</script>
---
				</div>

<!-- // SECCION CAMION ==================================================== -->
				<div id="camion" class=" relative flex flex-col justify-center">
					<section
						class='relative min-w-screen flex flex-col items-center  my-56'
					>
						<video
								id="miVideo"
								class='h-full brightness-50 object-cover'
								muted
								autoplay
								loop
								src='/videos/camion.mp4'
						/ >

					</section>
				
					<p class="tipografia camion absolute z-20 top-20 left-20 w-1/3 h-[200px] text-gray-100 indent-7">
						Nuestra flota de vehiculos nos permite realizar entregas en un plazo de 24 horas en la provincia de Murcia y en un plazo de 48 horas en el resto de la peninsula.
					</p>
					<!-- <div class="absolute top-10 right-4 z-20 -rotate-90 scroll-smooth">
						<BtnVolver link="/#header" />
					</div> -->
				</div>
				<div id="cajas" class=" relative">
					<section
						class='relative overflow-hidden flex flex-col items-center my-56'
					>
						<video
								id="miVideo"
								class='h-full brightness-50 object-cover'
								muted
								autoplay
								loop
								src='/videos/cajas-en-movimiento.mp4'
						/ >

					</section>
				
					<p class="tipografia camion absolute z-20 top-20 left-20 w-1/3 h-[200px] text-gray-100 indent-7">
						Disponemos de una estructura de maquinas y medios de vanguardia que hace posible ofrecer un buen servicio y calidad en nuestros productos.
					</p>
					<!-- <div class="absolute top-10 right-4 z-20 -rotate-90 scroll-smooth">
						<BtnVolver link="/#header" />
					</div> -->
				</div>
				<div id="admi" class=" relative">
					<section
						class='relative overflow-hidden flex flex-col items-center my-56'
					>
						<video
								id="miVideo"
								class='h-full brightness-50 object-cover'
								muted
								autoplay
								loop
								src='/videos/admi.mp4'
						/ >

					</section>
				
					<p id="admini" class="tipografia camion absolute z-20 top-20 left-20 w-1/3 h-[200px] text-gray-100 indent-7">
						Contamos con un gran equipo humano con una experiencia de más de dos décadas en el sector del manipulado de cartón ondulado.
					</p>
					<!-- <div class="absolute top-10 right-4 z-20 -rotate-90 scroll-smooth">
						<BtnVolver link="/#header" />
					</div> -->
				</div>
				<div id="diseñando" class=" relative">
					<section
						class='relative overflow-hidden flex flex-col items-center my-56'
					>
						<video
								id="miVideo"
								class='h-full brightness-50 object-cover'
								muted
								autoplay
								loop
								src='/videos/diseñando.mp4'
						/ >

					</section>
				
					<p class="tipografia camion absolute z-20 top-20 left-20 w-1/3 h-[200px] text-gray-100 indent-7">
						Diseñamos todo lo relacionado con nuestros productos, tanto en diseño gráfico como en sistemas de envases y embalajes.
					</p>
					<!-- <div class="absolute top-10 right-4 z-20 -rotate-90 scroll-smooth">
						<BtnVolver link="/#header" />
					</div> -->
				</div>

		</main>
		<!-- //FOOTER =================================================================================================		 -->
		<div class="relative flex justify-center items-center h-[22rem] bg-[#303030] text-[#808080]">
				<Footer />
				<div class="absolute m-auto -top-[40vh] bottom-0 z-50 w-2/3 right-0 left-0">
		
					<Aviso />
				</div>
		</div>




	</div>

</Layout>

<style>
	:global(.light) .camion{
		color: #202020;
	}
</style>

<!-- //ANIMACION PARA EL UNDERLINE DEL NAVBAR ================================================================================================= -->
<style>

	.logo-grande{
		animation-name: fadeInLeft;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	.logo {
		animation-name: fadeDown;
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-delay: 1s;
	}

	
	@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.fadeDown {
		animation-name: fadeDown;
	}
	.fadeDown {
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}


</style>

<!-- // TEMA OSCURO ==================================================================================================  -->
<style>
	:global(.light) .david{
		color: black;
	}
</style>

<!-- //TIPOGRAFIA ================================================================================================== -->
<style>
	.tipografia{
	font-family: var(--tipo-erasdemi);
	}
</style>