---
import Header from '../components/header/Header.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer/Footer.astro'
import Carrusel from '../components/carrusel/Carrusel.astro'
import Modal from '../components/footer/Modal.astro'
import SeccionContactos from '../components/secciones/SeccionContactos.astro'
import SeccionVideos from '../components/secciones/SeccionVideos.astro'
import SeccionLogo from '../components/secciones/SeccionLogo.astro'

const title = 'Auxiliar Manipuladora del Cartón'
---

<Layout title={title}>
	<!-- // MAIN ============================================================================================================= -->
	<div class='relative flex flex-col m-auto h-full border-8 border-red-400'>
		<!-- // HEADER ======================================================================================================== -->
		<div class='fixed w-full z-20 top-0'>
			<Header />
		</div>
		<!-- //BODY =================================================================================================		 -->
		<main
			class='flex flex-col max-w-[80%] h-full m-auto border-2 border-green-700'
		>
			<!-- // SECCION 1 LOGO Y TEXTO ==================================================== -->
			<div
				class='logo flex justify-center items-center py-8 h-full border-8 border-pink-500'
			>
				<SeccionLogo />
			</div>

			<!-- //ANIMACION PARA EL LOGO PRINCIPAL ============================================================= -->
			<style>
				.logo {
					animation-name: fadeDown;
					animation-duration: 1s;
					animation-fill-mode: both;
					animation-delay: 0.3s;
					/* animation-timing-function: ease-in-out; */
				}

				@keyframes fadeDown {
					from {
						opacity: 0;
						transform: translate3d(0, -100%, 0);
					}
					to {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
				.logo {
					animation-timing-function: ease-in-out;
				}
			</style>

			<!-- // SECCIOn2 CARRUSELL ==================================================== -->
			<div
				id='nave'
				class='h-full flex justify-center items-center border-2 border-slate-900 m-2'
			>
				<div
					class='h-[44%] flex flex-row justify-center items-center border-4 border-violet-300'
				>
					<Carrusel />
				</div>
			</div>

			<!-- // SECCION CONTACTOS ====================================================  -->
			<div
				id='contacto'
				class='relative h-full border-2 border-red-600 m-2'
			>
				<SeccionContactos />
			</div>

			<!-- // SECCION CAMION ==================================================== -->
			<div
				id='camion'
				class='relative flex flex-col justify-center border-2 border-cyan-400 m-2'
			>
				<SeccionVideos />
			</div>
		</main>
		<!-- //FOOTER =====================================================		 -->
		<div
			class='relative flex justify-center items-center h-[22rem] bg-[#303030] text-[#808080]'
		>
			<Footer />
		</div>
		<Modal />
	</div>
</Layout>

<style>
	:global(.light) .camion {
		color: #202020;
	}
	.tipo {
		color: var(--auxiliar1);
	}
	:global(.light) .tipo {
		color: var(--auxiliar2);
	}
</style>

<!-- // TEMA OSCURO ==================================================================================================  -->
<style>
	:global(.light) .david {
		color: black;
	}
</style>

<!-- //TIPOGRAFIA ================================================================================================== -->
<style>
	.tipografia {
		font-family: Helvetica, Arial, sans-serif;
	}
</style>
