---
import TextoAnimadoTelefono from '../botones-sliders/TextoAnimadoTelefono.astro';
import BtnAdelante from '../botones-sliders/BtnAdelante.astro';


---

<div  class="w-2/3 h-2/3 flex flex-col items-center">
		
    <div class="mb-[4rem] border-8 border-red-400 w-[8rem]  " >
        <img class="border-8 object-cover" src="/svg/logo-aux.svg" alt="logo de la Auxiliar Manipuladora del Cartón">
    </div>
    
    <div class="logo">
        <div class="flex justify-center mb-4">
            <TextoAnimadoTelefono />
        </div>
        <p class="tipografia md:max-w-3xl indent-10 text-xl font-light text-left">
            Empresa dedicada a la fabricación de envases y embalajes de cartón ondulado y otros productos relacionados con el embalaje.
            Cajas, bandejas, estuches, expositores, separadores, plancha paletizaje, etc.
        </p>
        <div class="mt-4 mb-60">
            <a href="/catalogo">
                <BtnAdelante />
            </a>
        </div>
    </div>

</div>