---
import Navbar from './Navbar.astro'
import SliderToggleTheme from '../botones-sliders/SliderToggleTheme.astro'

const nav = ['Acerca de nosotros', 'Contacto', 'Catálogo']
const link = ['/acerca', '/contacto', '/catalogo']
const clase = 'en-linea'
---


<div class="flex">
    <div class="relative w-32 h-32 border-8 flex justify-center items-center transition-all .5s hover:scale-105">
        <div class="absolute top-0 left-0 p-4">
          <a href="/"><img src="/svg/logo-aux-torres-01.svg" alt="Logotipo de Auxiliar Manipuladora del Cartón"></a>
        </div>
    </div>

    <nav class="flex flex-row flex-grow items-center border-red-400 border-8 justify-center">
        <div class="relative flex flex-grow h-full border-blue-400 border-4 justify-center items-center">
            <div class="absolute top-4 right-4">
                <Navbar title={nav} clase={clase} link={link} />
            </div>
        </div>
        <div class="relative flex justify-center h-full border-8 w-48">
            <div class="absolute top-4 right-4 z-20">
                <SliderToggleTheme />
            </div>
        </div>
    </nav>
</div>

<style>

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}

</style>