---
import Navbar from './Navbar.astro'
import SliderToggleTheme from '../botones-sliders/SliderToggleTheme.astro'

const nav = ['Inicio', 'Acerca de nosotros', 'Contacto', 'Catálogo']
const link = ['/','/#nave', '/#contacto', '/catalogo']
---


<div class="flex ">

    <div class="relative w-[10%] h-32 flex justify-center items-center transition-all .5s hover:scale-105">
        <div class="logo-grande absolute top-0 left-0 p-4">
          <a href="/"><img src="/svg/logo-aux-torres-01.svg" alt="Logotipo de Auxiliar Manipuladora del Cartón"></a>
        </div>
    </div>

    <nav class=" flex flex-row flex-grow items-centerjustify-center">
        <div class="relative flex flex-grow h-full">
            <div class="david bg-[#202020] absolute top-0 right-0 w-full p-2">
                <Navbar title={nav} link={link} />
            </div>
        </div>

        <div class="relative h-full w-[10%]">
            <div class="absolute top-2 right-4 z-20">
                <SliderToggleTheme />
            </div>
        </div>
    </nav>
</div>

<style>
  	.logo-grande{
		animation-name: fadeInLeft;
		animation-duration: .8s;
		animation-fill-mode: both;
	}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInLeft {
  /* animation-duration: 1s; */
  animation-fill-mode: both;
}
</style>

<style>

	:global(.light) .david{
		background-color: #f2f2f2;
	}
</style>