---
interface Props {
    title?: string[]
    clase?: string
    link?: string[]
}


const { title, clase, link } = Astro.props
console.log(title)
console.log(clase)

---

<div class=`${clase} flex gap-8`>
    {
        title.map((item, index) => {
            return (
                <div key={index.toString()}>
                    <a class="a" href={link[index]}>{item}</a>
                </div>
                )
        })
    }
</div>



<style>


    .a:hover {
        text-decoration: none;
        animation-name: under;
        animation-fill-mode: forwards;
    }

    @keyframes under {
        0% {
            text-decoration: none
        }
        100% {
            text-decoration: underline;
            text-underline-offset: 0.2em;
        }
    }

</style>

