---
interface Props {
    title?: string[]
    clase?: string
    link?: string[]
}


const { title, clase, link } = Astro.props
console.log(title)
console.log(clase)

---

<div class=`${clase} flex gap-8`>
    {
        title.map((item, index) => {
            return (
                <div key={index.toString()}>
                    <a href={link[index]}>{item}</a>
                </div>
                )
        })
    }
</div>



<style>

    .en-linea{
        display: flex;
        flex-direction: row;
    }

    .en-columnas{
        display: flex;
        flex-direction: column;
    }

    a {
        transition: all 1s ease-in-out;
        text-decoration-thickness: 3px;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: rgba(223, 172, 18,0);
    }

    a:hover {
        transition: all 1s ease-in-out;
        animation-name: aparecer;
        animation-duration: .6s;
        animation-fill-mode: forwards;
    }

    @keyframes aparecer {
        0% {
        text-decoration-color: rgba(223, 172, 18,0);
        }
        100% {
        text-decoration-color: rgba(223, 172, 18,1);
        }

    }


</style>

