<div class="foot w-full h-full flex flex-col-2  gap-40 justify-center items-center">


    <div class="w-full h-full flex flex-col justify-center items-center">Auxiliar Manipulodora del Cartón<br><br>Calle Los Mateos, 1<br><br>C.P: 30564 Lorquí (Murcia)<br><br>COORDENADAS: 38.098611,-1.261384</div>

    <div class="w-full h-full flex flex-col flex-nowrap items-end justify-end p-12">
        <p>
            Aviso Legal | Política de Privacidad | Política de Cookies
        </p>
        <p class="flex flex-nowrap">
            Marca Registrada © 1995-2023, Auxiliar Manipuladora del Cartón, S.L.
        </p>
    </div>
    
</div>

<style>
    :global(.light) .foot{
        background-color: #909090;
        color: #202020;
    }
</style>