---
import Aviso from './Aviso.astro'

import BtnHover01 from '../botones-sliders/BtnHover01.astro';
---

<!-- MODAL CON TODO EL PARRAFO =======================   -->
<div class="fixed z-50 top-20 right-20"><BtnHover01 /></div>
<div class="fixed z-40 top-[20vh] right-0 left-0 w-2/3 h-[90vh] m-auto"><Aviso/></div>
<div class="fixed z-30 bg-gray-400 bg-opacity-30 backdrop-blur-sm w-full h-full border-red-400 border-8 top-0 bottom-0"></div>

</div>


<!-- AVISO LEGAL ======================= -->



<script>
      const modal1 = document.querySelector('.modal1')
      const boton = document.querySelector('.boton')
      const aviso = document.querySelector('.aviso')
      aviso.addEventListener('click', () => {
          modal1.classList.remove('top-full')
          modal1.classList.add('top-0')
          modal1.classList.remove('animate-slide-down')
          modal1.classList.add('animate-slide-up')
          // modal1.classList.add('pointer-events-none')
          // modal1.classList.remove('bg-opacity-100')
          // modal1.classList.add('animate-slide-up')
      })
      boton.addEventListener('click', () => {
          modal1.classList.remove('top-0')
          modal1.classList.add('top-full')
          modal1.classList.remove('animate-slide-up')
          modal1.classList.add('animate-slide-down')
      })
  
</script>

<style>
    .animate-slide-up {
      animation: slideUp 1s ease-in-out;
    }
  
    @keyframes slideUp {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    .animate-slide-down {
      animation: slideDown 1s ease-in-out;
    }
  
    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0%);
      }
    }
  </style>