<div class="flex flex-col max-h-full">
	<div class="carrousel">
		<div class="grande">
			<img src="/img/nav.jpg" alt="Imagen 1" class="img">
			<img src="/img/nave.jpg" alt="Imagen 2" class="img">
			<img src="/img/cielo.jpg" alt="Imagen 2" class="img">
		</div>
	
		<ul class="puntos">
			<li class="punto activo"></li>
			<li class="punto"></li>
			<li class="punto"></li>
		</ul>
	</div>
</div>

<style>
	.carrousel {
  color: var(--negro);
  transition: all 0.4s ease;
  overflow: hidden;
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: all 0.4s ease;
  transition: all 0.5s ease;
  transform: translateX(0%);
  border-radius: 1rem;
}

.carrousel .img {
  width: calc( 100% / 3 - 2rem);
  min-height: 10vh;
  height: 55vh;
  transition: all 0.4s ease;
  border-radius: 1rem;
  border-color: white solid 3px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.8) ;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 1rem;
  height: 1rem;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: gray;
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: var(--auxiliar1);
}
</style>

<script>
	const grande    = document.querySelector('.grande') as HTMLElement
	const punto     = document.querySelectorAll('.punto') 

// Cuando CLICK en punto
    // Saber la posición de ese punto
    // Aplicar un transform translateX al grande
    // QUITAR la clase activo de TODOS puntos
    // AÑADIR la clase activo al punto que hemos hecho CLICK

// Recorrer TODOS los punto
	punto.forEach( ( cadaPunto , i )=> {
    // Asignamos un CLICK a cadaPunto
    	punto[i].addEventListener('click',()=>{

        // Guardar la posición de ese PUNTO
        let posicion  = i
        // Calculando el espacio que debe DESPLAZARSE el GRANDE
        let operacion = posicion * -33.333

        // MOVEMOS el grand
        grande.style.transform = `translateX(${ operacion }%)`

        // Recorremos TODOS los punto
        punto.forEach( ( cadaPunto , i )=>{
            // Quitamos la clase ACTIVO a TODOS los punto
            punto[i].classList.remove('activo')
        })
        // Añadir la clase activo en el punto que hemos hecho CLICK
        punto[i].classList.add('activo')

    })
})

</script>