---
import LayoutHeaderFooter from "../../layouts/LayoutHeaderFooter.astro";
---

<LayoutHeaderFooter title="Información sobre la Auxiliar">
    <div class="max-w-screen h-screen">
        estoy en la pagina de acerca de nosotros
    </div>
</LayoutHeaderFooter>