:root {
	@font-face {
		font-family: 'ITC Eras Demi';
		src: url('/tipos/ITC Eras Demi.ttf');
	}

	--negro: rgb(39, 39, 39);
	--blanco: rgb(222, 222, 222);
	--sombra1: rgba(111, 111, 111, 0.2);
	--sombra2: rgba(255, 255, 255, 1);
	--auxiliar1: rgb(223, 172, 18);
	--auxAmarillo: rgba(223, 173, 16, 0.2);
	--auxiliar2: rgb(0, 129, 74);

	--marcado: rgb(rgb(0, 204, 255));

	/* //tipografías */
	--tipo-principal: Helvetica, Arial, sans-serif;
	--tipo-secundaria: 'Open Sans', sans-serif;
	--tipo-terciaria: 'Roboto', sans-serif;
	/* --tipo-erasdemi: 'ITC Eras'; */
	--tipo-erasdemi: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
	:root {
		--negro: #ececec;
	}
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	/* opcional */
	object-fit: cover;
	/* opcional */
	object-position: center center;
}

/* Configuramos anclas suaves */
html {
	scroll-behavior: smooth;
    background-color: #202020;
    color: #f2f2f2;
}

html.light{
    background-color: #f2f2f2;
    color: #202020;
}



/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
	background-color: var(--negro);
	color: var(--blanco);
}

/* Reseteamos las tablas */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
	min-height: 100vh;
	font-size: 100%;
	font-family: var(--tipo-principal);
	/* opcional */
	line-height: 1.4em;
	/* opcional */
	hyphens: auto;
	/* opcional */
	font-smooth: always;
	/* opcional */
	-webkit-font-smoothing: antialiased;
	/* opcional */
	-moz-osx-font-smoothing: grayscale;


}
.dil-barra-desplazamiento{

/* Estilos de la barra de desplazamiento */
scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
scrollbar-color: #a92020 #0feb03; /* Color de la barra y el fondo de la barra */
}

/* Estilos para la barra de desplazamiento */
.dil-barra-desplazamiento::-webkit-scrollbar {
width: 12px; /* Ancho de la barra de desplazamiento */
}

.dil-barra-desplazamiento::-webkit-scrollbar-thumb {
background-color: var(--auxiliar1); /* Color de la barra de desplazamiento */
}

.dil-barra-desplazamiento::-webkit-scrollbar-track {
background-color: black;
}

.light .dil-barra-desplazamiento::-webkit-scrollbar-thumb {
background-color: var(--auxiliar2); /* Color de la barra de desplazamiento */
}

.light .dil-barra-desplazamiento::-webkit-scrollbar-track {
	background-color: white;
	}